<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="/admin">LMS</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark"  href="/admin/bookInventory/all/all/1">Book Inventory</a>
        <a class="p-2 text-dark" href="/admin/users/1">Users</a>
        <a class="p-2 text-dark" href="/admin/books/add">Add Books</a>
        <a class="p-2 text-dark" href="/books/all/all/1">Browse Books</a>
    </nav>
    <div class="nav-item dropdown mr-3">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> Hi, <%=currentUser.username%>
        </a>
        <div class="dropdown-menu">
            <a href="/admin/profile" class="dropdown-item">
                <i class="fa fa-user-circle"></i> Profile
            </a>

            <a href="/auth/admin-logout" class="dropdown-item">
                <i class="fa fa-user-times"></i> Logout
            </a>
        </div>
    </div>
</div>